body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
#secondfooter {
  width: 100%;
  position: absolute;
  bottom: -400px;
}
main {
  display: grid;
  grid-row: 400px 400px;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid black;
}


.header-text {
  font-size: 30px;
  margin-left: 10px;

}

.menu {
  border: 1px solid black;
  background-color: #ffdcdc;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.menu ul li {
  display: inline;
  padding-inline: 100px;
}
.menu ul li a {
  text-decoration: none;
  color: black;
}

#rezina {
  width: 70%;
  margin: 60px;
}
#sidebar {
  position: relative;
  width: 20%;
  margin-right: 0%;
  margin-left: 80%;
  overflow: hidden;
}
.images-section {
  text-align: center;
  width: 85%;
  justify-self: center;
  display: grid;
  grid-template-columns: 50% 50%;
}
main {
  position: absolute;
  top: 100PX;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: -350px;
  text-align: center;
  background-color: #cedfff;
  padding: 10px;
  
}
  
  .container {
     display: flex;
     flex-wrap: wrap;
  }
  .aside, .main {
     width: 100%;
     min-height: 1px;
  }
  @media (min-width: 992px) {
    .aside {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      order: 1;
    }
    .main {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
      order: 2;
    }
   }
   @media (min-width: 1400px) {
    .aside {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .main {
      flex: 0 0 75%;
      max-width: 75%;
    }
}